<form
  class="form-horizontal"
  autocomplete="off"
  #createPatientForm="ngForm"
  (ngSubmit)="save()">


  <abp-modal-header
    [title]="'Create Patient' | localize"
    (onCloseClick)="bsModalRef.hide()">
  </abp-modal-header>

  <div class="modal-body">

   
    <div class="form-group row required">
      <label class="col-md-3 col-form-label">
        Patient Code
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="patientCode"
          required
          placeholder="Enter Patient Code --"
          minlength="3"
          maxlength="20"
          [(ngModel)]="patient.patientCode"
          #codeModel="ngModel"
          
          #codeEl />
          
       

        <abp-validation-summary
          [control]="codeModel"
          [controlEl]="codeEl">
        </abp-validation-summary>
      </div>
    </div>

  
    <div class="form-group row required">
      <label class="col-md-3 col-form-label">
        First Name
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="firstName"
          required
          placeholder="Enter First Name --"
          minlength="2"
          maxlength="50"
          pattern="^[A-Z].*"
          [(ngModel)]="patient.firstName"
          #fnameModel="ngModel"
          #fnameEl />

        <abp-validation-summary
          [control]="fnameModel"
          [controlEl]="fnameEl">
        </abp-validation-summary>

        <small class="text-danger"
          *ngIf="fnameModel.touched && fnameModel.errors?.['pattern']">
          First letter capital hona chahiye (e.g. Ritesh)
        </small>
      </div>
    </div>


    <div class="form-group row required">
      <label class="col-md-3 col-form-label">
        Last Name
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="lastName"
          required
          placeholder="Enter Last Name --"
          minlength="2"
          maxlength="50"
          [(ngModel)]="patient.lastName"
          #lnameModel="ngModel"
          #lnameEl />

        <abp-validation-summary
          [control]="lnameModel"
          [controlEl]="lnameEl">
        </abp-validation-summary>
      </div>
    </div>

   
    <div class="form-group row required">
      <label class="col-md-3 col-form-label">
        Date Of Birth
      </label>
      <div class="col-md-9">
        <input
          type="date"
          class="form-control"
          name="dateOfBirth"
          required
          [(ngModel)]="patient.dateOfBirth"
          #dobModel="ngModel"
          #dobEl />

        <abp-validation-summary
          [control]="dobModel"
          [controlEl]="dobEl">
        </abp-validation-summary>
      </div>
    </div>

   
    <div class="form-group row required">
      <label class="col-md-3 col-form-label">
        Gender
      </label>
      <div class="col-md-9">
        <select class="form-control"
          name="gender"
          required
          [(ngModel)]="patient.gender"
          #genderModel="ngModel"
          #genderEl>

          <option value="">-- Select Gender --</option>
          <option [value]="5">Male</option>
          <option [value]="10">Female</option>
          <option [value]="15">Other</option>
        </select>

        <abp-validation-summary
          [control]="genderModel"
          [controlEl]="genderEl">
        </abp-validation-summary>
      </div>
    </div>


    <div class="form-group row required">
      <label class="col-md-3 col-form-label">
        Phone Number
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="phoneNumber"
          required
          placeholder="Enter Phone Number --"
          pattern="^[0-9]{10}$"
          [(ngModel)]="patient.phoneNumber"
          #phoneModel="ngModel"
          #phoneEl />

        <abp-validation-summary
          [control]="phoneModel"
          [controlEl]="phoneEl">
        </abp-validation-summary>

        <small class="text-danger"
          *ngIf="phoneModel.touched && phoneModel.errors?.['pattern']">
          10 digit mobile number required
        </small>
      </div>
    </div>


    <div class="form-group row required">
      <label class="col-md-3 col-form-label">
        Email
      </label>
      <div class="col-md-9">
        <input
          type="email"
          class="form-control"
          name="email"
          required
          placeholder="Enter Email --"
          [(ngModel)]="patient.email"
          #emailModel="ngModel"
 
          #emailEl />
          

        <small class="text-danger"
          *ngIf="emailModel?.touched && emailModel?.errors?.['required']">
          Email is required 
        </small>

        <small class="text-danger"
          *ngIf="emailModel?.touched && emailModel?.errors?.['email']">
          Invalid email format 
        </small>
      </div>
    </div>

    
    <div class="form-group row">
      <label class="col-md-3 col-form-label">
        Address
      </label>
      <div class="col-md-9">
        <textarea
          class="form-control"
          name="address"
          rows="3"
          placeholder="Enter Address --"
          [(ngModel)]="patient.address">
        </textarea>
      </div>
    </div>

    <div class="form-group row">
  <label class="col-md-3 col-form-label">
    Patient Photo
  </label>
  <div class="col-md-9">
    <input 
      type="file" 
      class="form-control" 
      (change)="onFileSelected($event)">
    
    
    <img *ngIf="previewUrl" [src]="previewUrl" 
         alt="Patient Photo" class="img-thumbnail mt-2" 
         style="max-width: 150px; max-height: 150px;">
  </div>
</div>




  </div>

 
  <abp-modal-footer
  [cancelDisabled]="saving"
  [saveDisabled]="!createPatientForm.form.valid || saving"
  (onSaveClick)="save()"
  (onCancelClick)="bsModalRef.hide()">
</abp-modal-footer>

</form>  
