<div class="card">

  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h5 class="mb-0">
          <i class="fas fa-hospital-user"></i>
          {{ 'Patients' | localize }}
        </h5>
      </div>

      <div class="col-md-6 text-right">
        <button class="btn btn-primary" (click)="createPatient()">
          <i class="fas fa-user-plus"></i>
          {{ 'Create Patient' | localize }}
        </button>
      </div>
    </div>
  </div>

  <div class="card-header">
          <div class="row">
            <div class="col-md-6"></div>
 
            <div class="col-md-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button class="btn bg-blue" (click)="list()">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="keyword"
                  [placeholder]="'SearchWithThreeDot' | localize"
                  (keyup.enter)="list()" />
              </div>
            </div>
          </div>
    </div>
 

  <div class="card-body">

    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">

        <thead>
          <tr>
            <th>#</th>
            <th>{{'Profile' | localize}}</th>
            <th>{{ 'Patient Code' | localize }}</th>
            <th>{{ 'First Name' | localize }}</th>
            <th>{{ 'Last Name' | localize }}</th>
            <th>{{ 'DOB' | localize }}</th>
            <th>{{ 'Gender' | localize }}</th>
            <th>{{ 'Phone' | localize }}</th>
            <th>{{ 'Email' | localize }}</th>
            <th>{{ 'Address' | localize }}</th>
            <th>{{ 'Created At' | localize }}</th>
            <th width="180">{{ 'Actions' | localize }}</th>
          </tr>
        </thead>

        <tbody>

        <tr *ngFor="let p of filteredPatients; let i = index">

            <td>{{ i + 1 }}</td>

            <td><img src={{ p.photoPath}}alt=""  style="width: 50px; height: 50px; object-fit: cover; border-radius: 4px;"></td>

            <td>{{ p.patientCode }}</td>

            <td>{{ p.firstName }}</td>

            <td>{{ p.lastName }}</td>

            <td>{{ p.dateOfBirth | date:'dd/MM/yyyy' }}</td>

            <td>
              <span *ngIf="p.gender == 5">{{ 'Male' | localize }}</span>
              <span *ngIf="p.gender == 10">{{ 'Female' | localize }}</span>
              <span *ngIf="p.gender == 15">{{ 'Other' | localize }}</span>
            </td>

            <td>{{ p.phoneNumber }}</td>

            <td>{{ p.email }}</td>

            <td>{{ p.address }}</td>

            <td>{{ p.createdAt | date:'dd/MM/yyyy HH:mm' }}</td>

            <td class="text-center">
              <button
                class="btn btn-sm btn-info mr-1"
                (click)="editPatient(p)">
                <i class="fas fa-edit"></i>
                {{ 'Edit' | localize }}
              </button>

              <button
                class="btn btn-sm btn-danger"
                (click)="deletePatient(p)">
                <i class="fas fa-trash"></i>
                {{ 'Delete' | localize }}
              </button>
            </td>
          </tr>

          
          <tr *ngIf="filteredPatients?.length === 0">
               <td colspan="12" class="text-center text-muted">
              {{ 'No data found' | localize }}
               </td>
            </tr>


        </tbody>

      </table>
    </div>

  </div>
</div> 





