
<form
  class="form-horizontal"
  autocomplete="off"
  #createStudentForm="ngForm"
  (ngSubmit)="save()">

  <!-- Modal Header -->
  <abp-modal-header
    [title]="'Create Student' | localize"
    (onCloseClick)="bsModalRef.hide()">
  </abp-modal-header>

  <div class="modal-body">

    <!-- Name -->
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="name">
        {{ 'Name' | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="name"
          id="name"
          required
          placeholder="Enter Your Nmae --"
          minlength="2"
          maxlength="50"
           pattern="^[A-Z].*" 
          [(ngModel)]="student.name"
          #nameModel="ngModel"
          #nameEl />

        <abp-validation-summary
          [control]="nameModel"
          [controlEl]="nameEl">
        </abp-validation-summary>
        <small class="text-danger"
      *ngIf="nameModel.touched && nameModel.errors?.['pattern']">
      First letter capital dalo (e.g. Ritesh)
       </small>
      </div>
    </div>

    <!-- surname -->
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="surname">
        {{ 'surname' | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="surname"
          id="surname"

          placeholder="Enter Your Surname--"
          
          minlength="2"
          maxlength="50"
          [(ngModel)]="student.surname"
          #nameModel="ngModel"
          #nameEl />

        <abp-validation-summary
          [control]="nameModel"
          [controlEl]="nameEl">
        </abp-validation-summary>
      </div>
    </div>

  <!-- Email -->
<div class="form-group row required">
  <label class="col-md-3 col-form-label" for="email">
    Email
  </label>
  <div class="col-md-9">
    <input
      type="email"
      class="form-control"
      name="email"
      id="email"
      placeholder="Enter Your EmailId--"
      required
      [(ngModel)]="student.email"
      #emailModel="ngModel"
      #emailEl
    />

    <small class="text-danger" *ngIf="emailModel?.touched && emailModel?.errors?.['required']">
      Email is required ❌
    </small>
    <small class="text-danger" *ngIf="emailModel?.touched && emailModel?.errors?.['email']">
      Please enter a valid email address ❌
    </small>
  </div>
</div>



    <!-- Age -->
    <div class="form-group row required">
  <label class="col-md-3 col-form-label" for="age">
    {{ 'Age' | localize }}
  </label>

  <div class="col-md-9">
    <input
      type="number"
      class="form-control"
      name="age"
      id="age"
      required
      min="18"
      max="65"
      placeholder="Enter Your Age--"
      [(ngModel)]="student.age"
      #ageModel="ngModel"
      #ageEl />
    <abp-validation-summary
      [control]="ageModel"
      [controlEl]="ageEl">
    </abp-validation-summary>
    <small class="text-danger" *ngIf="ageModel.touched && ageModel.errors?.['min']">
      Age must be at least 18 years
    </small>

    <small class="text-danger" *ngIf="ageModel.touched && ageModel.errors?.['max']">
      Age must be less than or equal to 65 years
    </small>
  </div>
</div>

<!-- Country -->
<div class="form-group row required">
  <label class="col-md-3 col-form-label" for="countryId">
    {{ 'Country' | localize }}
  </label>
  <div class="col-md-9">
    <select class="form-control" name="countryId" id="countryId" required
      [(ngModel)]="student.countryId"
      (change)="onCountryChange(student.countryId)"
      #countryModel="ngModel" #countryEl>

      <option value="">-- Select Country --</option>

      <option *ngFor="let c of countryList" [value]="c.value">
        {{ c.name }}
      </option>
      
    </select>

    <abp-validation-summary [control]="countryModel" [controlEl]="countryEl"></abp-validation-summary>
  </div>
</div>


<!-- State -->
<div class="form-group row required">
  <label class="col-md-3 col-form-label" for="stateId">
    {{ 'State' | localize }}
  </label>
  <div class="col-md-9">
    <select class="form-control" name="stateId" id="stateId" required
      [(ngModel)]="student.stateId"
      (change)="onStateChange(student.stateId)"
      #stateModel="ngModel" #stateEl>

      <option value="">-- Select State --</option>

      <option *ngFor="let s of stateList" [value]="s.value">
        {{ s.name }}
      </option>
    </select>

    <abp-validation-summary [control]="stateModel" [controlEl]="stateEl"></abp-validation-summary>
  </div>
</div>

<!-- City -->
<div class="form-group row required">
  <label class="col-md-3 col-form-label" for="cityId">
    {{ 'City' | localize }}
  </label>
  <div class="col-md-9">
    <select class="form-control" name="cityId" id="cityId" required
      [(ngModel)]="student.cityId"
      (change)="onCityChange(student.cityId)"
      #cityModel="ngModel" #cityEl>

      <option value="">-- Select City --</option>

      <option *ngFor="let c of cityList" [value]="c.value">
        {{ c.name }}
      </option>
    </select>

    <abp-validation-summary [control]="cityModel" [controlEl]="cityEl"></abp-validation-summary>
  </div>
</div>







    <!-- College -->
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="collegeId">
        {{ 'College' | localize }}
      </label>
      <div class="col-md-9">
        <select class="form-control" name="collegeId" id="collegeId" required [(ngModel)]="student.collageId"
          #collegeModel="ngModel" #collegeEl>
    
          <option value="">-- Select College --</option>
    
          <option *ngFor="let c of collageList" [value]="c.value">
            {{ c.name }}
          </option>
        </select>
    
    
        <abp-validation-summary [control]="collegeModel" [controlEl]="collegeEl">
        </abp-validation-summary>
      </div>
    </div> 

    

  </div>

  <!-- Modal Footer -->
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createStudentForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()">
  </abp-modal-footer>

</form>





<!-- give me angulaer ui create form wirking and edit form workinh and lish table working and module and routing crud op maine backend bana diya hai bolierplate me bs angulaer ui banna hai mujhe Patiens ui dedo  -->
